{% extends 'base.html' %}

{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">medentech quality assurance team</a>
        <!-- <small class="text-muted">date</small> -->
      </div>
      <h2><a class="article-title" href="#">Instructions</a></h2>
      <p class="article-content">
        Virtual machine configuration is the process of creating and assigning hardware,
        software, network, and peripheral devices, and other resources to a virtual machine.
        Virtual machine configuration is done automatically through the hypervisor or manually
        by the administrator whenever a new virtual machine is created.
      </p>
    </div>
  </article>

  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg" allowfullscreen></iframe>
  </div>


{% endblock %}
